# Config tambahan untuk termuxlauncher
# by luisadha

# Additional aliases for better experience

alias l='launch';
alias wallpaper='launch current-wallpaper'

echo "Daftar Aplikasi : " | figlet
echo
echo -e "Usage : l \$wabisnis (config)\n"
echo -e "        l firefox (default)\n"
echo -e "\nDownload termuxlauncher apk's first!\n"

echo -e "Powered by termuxlauncher\nConfig by @luisadha\n"


l -l | grep -Exo '[a-z0-9:_-]+' | sort -u | xargs | lolcat -r


# A
# B
# C
# D
# E
export fb='facebook'
#J
export jsonxmltool='json--xml-tool'

export memo='orgzly'
export mobilelegend='Mobile-Legends:-Bang-Bang'
export mlbb='Mobile-Legends:-Bang-Bang'
export ml='Mobile-Legends:-Bang-Bang'
#P
#S
export sms='pesan'
export sms2='messages'
export settings='setelan'
export ps='google-play-store'
#T
export tele='nekogram'
export termuxfloat='termux:float'
#W
export wa='whatsapp'
export wabisnis='whatsapp business'
export wallpaper='current-wallpaper'
#Z
